<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chirq.study.mybatis.xml.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.chirq.study.mybatis.xml.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="TINYINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
    
  <sql id="Base_Column_List" >
    id, name, age, address
  </sql>
  <sql id="listWhere">
  	<where>
 	  <if test="id != null" >
        AND id = #{txnId}
      </if>
      <if test="name != null and name != ''" >
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="age != null and age != ''" >
        AND age = #{age,jdbcType=TINYINT}
      </if>
      <if test="address != null and address != ''" >
        AND address = #{address,jdbcType=VARCHAR}
      </if>
  	</where>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_user
    WHERE id = #{id}
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_user WHERE name = #{name}
  </select>

  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM t_user
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.chirq.study.mybatis.xml.entity.User" >
    INSERT INTO t_user (id, name, age, address)VALUES 
    (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.chirq.study.mybatis.xml.entity.User" >
    INSERT INTO t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.chirq.study.mybatis.xml.entity.User" >
    UPDATE t_user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>